<?xml version="1.0" encoding="utf-8"?>
<funnelweb xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <setting key="funnelweb.configuration.database.connection" value="Server=localhost;Database=funnelweb;ConnectionTimeout=15;Pooling=false;Uid=FunnelWebDbUser;Pwd=61D3AB042A6DA1" />
  <setting key="funnelweb.configuration.database.schema" value="" />
  <setting key="funnelweb.configuration.authentication.username" value="picnicblogadmin" />
  <setting key="funnelweb.configuration.authentication.password" value="31392837B17054AF7E6ECACADF93" />
  <setting key="funnelweb.configuration.database.provider" value="mysql" />
</funnelweb>